
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #577590;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #277DA1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.header h1{
    align-self: center;
    margin-left: 5%;
    
}
.header h1 a {
    text-decoration: none;
    color: #f4f1de;
}
.buttonsHead{
    display: flex;
    flex-direction: row;
}
#signUpHead, #signInHead{
    width: 30vw;
  }
  #logOutHead{
    display: none;
    width: fit-content
  }

.section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    height: 90vh;


}

.welcome, .chart-container{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 80%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    display: flex;
    justify-content: center;
    align-items: center;
    color: #577590;
    background-color: #f4f1de;

}
.welcome:hover, #anotherTry:hover, .chart-container:hover, .category:hover, .answer:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}


.chart-container{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
}

.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: slidein 4s ;
}
.category{
    
    width: 90%;
    height: 6vh;
    text-decoration: none;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.questions, .results{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.question{
    border: 0;
    height: 28vh;
    width: 100%;
    background-color: #f4f1de;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 10px;
}
.answer{
    border: 0;
    height: 18vh;
    width: 80%;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slidein 2s ;
}


.category1, .answer1{
    background-color: #3d405b;
    color: #f4f1de;
}
.category2, .answer2{
    background-color: #81b29a;
    color: #000000;
}
.category3, .answer3{
    background-color: #f2cc8f;
    color: #000000;
}
.category4, .answer4{
    background-color:#e07a5f ;
    color: #000000;
}

.results{
    background-color: #f4f1de;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 10px;
}
#sessionScore{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background-color: #277DA1;
    border-radius: 50%;
    margin-top: 20%;
    margin-bottom: 20%;
}
#anotherTry{
    height: 8vh;
    width: 50vw;
    border-radius: 15px;
    background-color: #277DA1;
    border: 0;
    font-size: 1.2rem;
    color: #f4f1de;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#anotheTry:visited{
    color: #f4f1de;
}



/* ANIMATIONS */
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-5000px; }
    20% { margin-left:-5000px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:100%;}
    80% {opacity:1;}
    100% {opacity:0;width:100%;}
}

/******************** MEDIA QUERIES *************/


@media screen and (min-device-width: 600px) and (max-device-width: 1023px) {
  
.header{
    height: 15vh;
}
.section{    
    justify-content: space-evenly;
    align-content: space-around;
    height: 85vh;
}
 .welcome{
     flex-direction: column;
    justify-content: space-evenly;
    height: 37.5vh;
}
.chart-container{
     height: 37.5vh;
 }

 #logOutHead{
    
 }
 .categories{
     flex-direction: row;
     flex-wrap: wrap;
    }
    .category{
        width: 18vw;
        height: 10vh;
        
 }
.question{
    font-size: 1.5rem;
}
.answer{
    font-size: 1.5rem;
}

.results h1{
    font-size: 2rem;
}  
   
}


@media screen and (min-device-width: 1024px){
    

    #sessionScore{
        margin: 0;
        height: 600px;
        width: 600px;
        font-size: 15rem;
        margin: 10% 0;
    }

    .results h1{
        font-size: 5rem;

    }
    #anotherTry{
        font-size: 2rem;
    }
  
   
}